<div id="<%= dom_id joboffer %>">
  <p>
    <strong>Position:</strong>
    <%= joboffer.position %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= joboffer.description %>
  </p>

  <p>
    <strong>Departament:</strong>
    <%= joboffer.departament %>
  </p>

  <p>
    <strong>When went:</strong>
    <%= joboffer.when_went %>
  </p>

  <p>
    <strong>User:</strong>
    <%= joboffer.user_id %>
  </p>

</div>
